<h1>New address</h1>
<section class="section">
  <div class="container">

<%= turbo_frame_tag "tax" do %>

    <%= render "form", address: @address %>

<% end %>

  </div>
</section>

<br>

<div>
  <%= link_to "Back to addresses", addresses_path %>
</div>
