<h1>New address</h1>
<section class="section">
  <div class="container">

    <%= render "form", address: @address %>

  </div>
</section>

<br>

<div>
  <%= link_to "Back to addresses", addresses_path %>
</div>
