<section class="section">
  <div class="container" id="<%= dom_id @cart %>" >
    <div class="field">
        <h1>Shipping address</h1>
    </div>

    <%= render "form", shipping_info: @shipping_info %>

    </div>
</section>

