<section class="section">
  <div class="container">
    <section class="section products-table">
      <div class="columns table-header">
        <div class="column">Product Description</div>
        <div class="column">Price</div>
        <div class="column">Quantity</div>
      </div>
      <div id="shopping_cart">
        <div>
            <% @products.each do |product| %>
            <div class="columns product-row">
                <div class="column center-container">
                    <%= product.manufacture + ' ' + product.name %>
                </div>
                <div class="column center-container">
                    $<%= product.price %>
                </div>
                <div class="column center-container">
                    <label for=<%= product.id %> class="mobile-table-heading"> Quantity</label >
                    <input id=<%= product.id %> class="quantity" type="number" name="quantity" min="1" max="100" value="1">
                </div>
            </div>
            <% end %>
        </div>
      </div>
    </section>

    <section class="columns checkout">
      <div class="column submit-form">
        <div id="total">
          <span class="total">Total $34.97 </span>
        </div>
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-link" href="#">Continue to checkout</button>
          </p>
        </div>
      </div>
    </section>
  </div>
</section>